@font-face {
    font-family: 'Poppins';
    font-display: swap;
    src: url("../css/fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: 'PoppinsBold';
    font-display: swap;
    src: url("../css/fonts/Poppins-Bold.ttf");
}
@font-face {
    font-family: 'PoppinsSemiBold';
    font-display: swap;
    src: url("../css/fonts/Poppins-SemiBold.ttf");
}